body {
      background-color: #fcedc2;
      font-family: Helvetica, Arial, sans-serif;
}

h1 {
    background-color: #fe4371;
    text-align: center;
}

h2 {
    background-color: #fe4371;
    text-align: center;
}

p {
      text-align: center;
}

img{
      text-align: center;
}

.about {
      font-family: Helvetica, Arial, sans-serif;
}

.skills {
      font-family: Helvetica, Arial, sans-serif;
}

.projects { 
      font-family: Helvetica, Arial, sans-serif; 
}

.project {
      width: 20%;
      margin: 10px;
      padding: 20px 10px;
      border-radius: 25%;
}

.contact {
      font-family: Helvetica, Arial, sans-serif;
}
