body {
      background-color: #fcedc2;
      font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    color: white;
}
.assign {
    width: 80%;
    box-shadow: 8px 8px black;
    margin: 10px;
    padding: 10px;
    background-color: #1f2e1b;
    display: block;
    border-radius: 20px;
}

p {
   color: white;
}

.assign img {
    padding: 10px; 
    border: 2px solid slategrey;
}

a {
text-decoration: none; 
color: #fff89c; 
}
